@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --font1: 'Open Sans', sans-serif;
    --font2: 'Poppins', sans-serif;
}

body {
    font-size: 18px;
    font-family: var(--font2);
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

h1 {
    font-size: clamp(24px, 5vw, 2.2em);
    padding-block: 1em;
    font-family: var(--font1);
    font-weight: 800;
}


/* styling of the header navigations */

.landing-page {
    /* to add linear gradient i have to first specify the direction then add the color before adding the image url */
    background-image: linear-gradient(to top, hsla(193, 100%, 96%, 0.5), hsla(193, 100%, 96%, 0.5)), url(images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}

.header img {
    width: 15rem;
}

.header a {
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.page-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-inline: 3em;
}

.page-1 img {
    padding-bottom: 3em;
}

.page-1 div {
    flex-basis: 48%;
}

.page-1 p {
    padding-bottom: 30px;
}

.page-1 a {
    padding: 10px 40px;
    background-color: var(--Pink);
    border-radius: 50px;
    color: #fff;
    transition: 0.2s ease;
}

.page-1 a:hover {
    background-color: var(--Pink);
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.column-cards {
    display: flex;
    flex-direction: column;
    padding: 5em 3em;
    gap: 2em;
}

.column-cards .card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 2em 4em;
    gap: 2em;
}

.card img {
    max-width: 80%;
}

.card div {
    flex-basis: 48%;
}

.card div p {
    margin-block: 1em;
}

.footer {
    background-color: var(--Very-Dark-Cyan);
    margin-top: 10em;
}

.floating-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    width: 35em;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 2em;
    border-radius: 10px;
    position: absolute;
}

.container h2 {
    margin-bottom: 1em;
}

.container a {
    padding: 10px 50px;
    background-color: var(--Pink);
    color: #fff;
    border-radius: 50px;
    display: inline-block;
}

.footer-proper {
    padding: 8em 3em 3em 3em;
}

.footer-row2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    padding-top: 2em;
    gap: 2em;
}

.footer-row2 li {
    margin-bottom: 1em;
}

.row1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.row1 p {
    max-width: 27em;
}

.row1 img {
    width: 15px;
}

.footer-row2 li a {
    color: #fff;
}

.icons {
    display: flex;
    gap: 1em;
}

.icons a {
    color: #fff;
    font-size: 18px;
}

.icons li a:hover {
    color: var(--Pink)
}

.copyright {
    text-align: end;
    color: #fff;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .page-1 {
        margin-top: 20px;
        margin-inline: 2em;
        flex-direction: column;
        text-align: center;
        gap: 4em;
    }
    .page-1 img {
        padding-bottom: 2em;
    }
    .column-cards .card {
        padding: 2em;
        gap: 1em;
    }
    .footer-row2 {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    body {
        font-size: 16px;
    }
    h1 {
        text-align: center;
    }
    img {
        max-width: 80%;
    }
    .header {
        padding: 1em;
    }
    .header a {
        padding: 7px 20px;
        font-size: 14px;
    }
    .header img {
        width: 10rem;
    }
    .landing-page {
        background-image: linear-gradient(to top, hsla(193, 100%, 96%, 0.5), hsla(193, 100%, 96%, 0.5)), url(images/bg-hero-mobile.svg);
    }
    .page-1 {
        flex-direction: column;
        margin-top: 40px;
        margin-inline: 1em;
        text-align: center;
        gap: 2em;
    }
    .page-1 img {
        padding-bottom: 2em;
    }
    .column-cards {
        padding: 4em 2em;
        gap: 2em;
    }
    .column-cards .card {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 3em 1.5em;
        gap: 2em;
        text-align: center;
        border-radius: 10px;
    }
    .column-cards .flow {
        flex-direction: column;
    }
    .container {
        width: 90%;
        padding: 2em;
        border-radius: 10px;
        position: absolute;
    }
    .container h2 {
        margin-block: 0;
        margin-bottom: 1em;
    }
    .container a {
        display: inline-block;
    }
    .footer-proper {
        padding: 10em 3em 3em 2em;
    }
    .footer-row2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: #fff;
        padding-top: 2em;
        gap: 2em;
    }
    .icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        padding-top: 2em;
    }
    .copyright {
        text-align: center;
        color: #fff;
        font-size: 14px;
        padding-top: 1em;
    }
}